<div fxLayout="column" fxLayoutGap="20px">

    <mat-card>
        <mat-form-field apperance="fill">
            <mat-label>Select Database</mat-label>
            <mat-select [(value)]="selectedDatabase">
                <mat-option *ngFor="let database of userDatabase" [value]="database.list">{{database.list}}</mat-option>

            </mat-select>

        </mat-form-field>

    </mat-card>


    <!-- Store card info -->
    <form fxLayout="column" fxLayoutGap="20px" *ngIf="selectedDatabase" #f="ngForm" (ngSubmit)="OnSubmit(f)">
        <mat-card>

            <mat-card-content>
                <mat-card-title class="headingText" style="font-size: xx-large;">Site Information</mat-card-title>

                <div fxLayout="column" fxLayoutGap="8px">
                    <mat-form-field style="max-width:50%">
                        <mat-label>Store Name</mat-label>
                        <input required ngModel name="storeName" matInput>
                    </mat-form-field>


                    <div fxLayout="row wrap" fxWrap fxLayoutGap="10px">
                        <mat-form-field style="max-width:50%">
                            <mat-select required ngModel name="chanelType">
                                <mat-option *ngFor='let chanelTypeArray of chanelTypeArray;'
                                    [value]=chanelTypeArray.name>
                                    {{chanelTypeArray.name}}</mat-option>
                            </mat-select>
                            <mat-label>
                                <mat-icon>storefront</mat-icon> <i> Chanel Type</i>
                            </mat-label>
                        </mat-form-field>

                        <mat-form-field style="max-width:50%">
                            <mat-select required ngModel name="area">
                                <mat-option *ngFor='let areaArray of areaArray;' [value]=areaArray.name>
                                    {{areaArray.name}}
                                </mat-option>
                            </mat-select>
                            <mat-label>
                                <mat-icon>public</mat-icon> <i> Area</i>
                            </mat-label>
                        </mat-form-field>
                    </div>


                    <mat-form-field style="max-width:70%">
                        <mat-label> Address</mat-label>
                        <input ngModel name="storeAddress" matInput>
                    </mat-form-field>

                    <div fxLayout="row wrap" fxLayoutGap="10px">

                        <mat-form-field style="max-width:70%">
                            <mat-label> Contact Person</mat-label>
                            <input ngModel name="contactPerson" matInput>
                        </mat-form-field>

                        <mat-form-field style="max-width:70%">
                            <mat-label> Contact Number</mat-label>
                            <input ngModel name="contactNumber" matInput>
                        </mat-form-field>


                    </div>
                    <div fxLayout="row" fxLayoutGap="30px">

                        <button fxLayoutAlign="center center" fxLayout="column" mat-fab type="button"
                            style="background-color: rgb(255, 243, 176);" (click)=getLocation()>


                            <div style="height:9px"></div>
                            <div style="width:100%;">
                                <img style="width:50%" src="../assets/compass.png" alt="GPS">
                            </div>

                        </button>

                        <b *ngIf="this.long != 0 " fxLayoutAlign="end end" [style.color]="accu > 30 ? 'red' : 'black' "
                            style="font-size:20px;height:30px;">Accuracy : {{this.accu | number:'.0-0'}} Meters</b>

                    </div>


                </div>



            </mat-card-content>


        </mat-card>


        <!-- Store card info end -->



        <!-- Start new Chillers section-->
        <!--
        <app-chiller [reset]="reset" [ChillerData]="Chillers" (ChillersCollected)="chillerRecieve($event)">
        </app-chiller>
        -->




        <!-- End new Chillers section-->


        <!-- Test value accesor chillers -->


        <mat-card
            style=" background: rgb(251,251,251);
        background: linear-gradient( rgba(251,251,251,1) 0%,rgba(128,124,209,1) 55%, rgba(31,98,193,1) 63%, rgba(0,212,255,1) 100%);">
            <mat-card-title class="chillerText" (click)="toggleShowDiv('divA')" style="cursor:pointer; font-size:42px; color: rgba(24, 24, 155, 1);
         ">CHILLERS Dynamic</mat-card-title>

            <div [@slideInOut]="animationState"
                style="overflow: hidden; padding-top :0; background-color: rgb(118, 201, 204,.3);">



                <mat-divider></mat-divider>


                <ng-container *ngFor="let chiller of Chillers">
                    <app-selection [ngModel] name="{{chiller.companyCode}}" [ChillerData]="chiller"></app-selection>
                </ng-container>




            </div>

        </mat-card>







        <!-- Test value accesor chillers -->




        <mat-card>
            <mat-form-field appearance="outline">
                <mat-label class="headingText">Filter</mat-label>
                <input matInput [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
                <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear"
                    (click)="searchText=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>




            <mat-tab-group dynamicHeight>




                <mat-tab label="E_Drinks">

                    <div *ngFor="let drinks of Edrinks">
                        <mat-card [style.display]="drinks.company.toLowerCase().includes(searchText|lowercase) ||
                            drinks.brandName.toLowerCase().includes(searchText|lowercase) ||
                            drinks.flavour.toLowerCase().includes(searchText|lowercase) ||
                            !searchText? 'block':'none' " class="box mat-elevation-z4">
                            <div fxLayout="column" style="width:100%">



                                <div fxLayout="row" fxLayoutGap="15px" style="width:100%;">
                                    <div fxLayout="row" fxFlex>
                                        <div fxLayout="column" fxLayoutGap="5px">
                                            <b style="margin-top:-15px">{{drinks.brandName}}</b>
                                            <div fxLayout="row wrap" fxLayoutGap="5px">
                                                <div style="width:20px"></div>
                                                <b class="labeltext" fxLayoutAlign="start center"> {{drinks.flavour}}
                                                </b>
                                                <div>
                                                    <b *ngIf="drinks.size !=1" class="labeltext"> - {{drinks.size}}</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div fxLayout="column">
                                        <mat-slide-toggle [checked]="test.value > 0 ? true : false " ngModel
                                            name="{{drinks.sku}}">
                                        </mat-slide-toggle>
                                        <mat-form-field style="max-width: 50px;">
                                            <mat-label>Price $</mat-label>
                                            <input ngModel #test name="{{drinks.sku}}_price" type="number" matInput>
                                        </mat-form-field>


                                    </div>



                                </div>
                            </div>
                        </mat-card>
                    </div>



                </mat-tab>



                
            </mat-tab-group>


        </mat-card>




        <!--
        <mat-card>
            <mat-card-title class="headingText" style="color:darkturquoise; ">Comments</mat-card-title>
            <mat-form-field style="width:95%">

                <textarea rows="3" ngModel name="Comments" matInput> </textarea>

            </mat-form-field>


        </mat-card>
        -->
        <!--
        <mat-card>
            <div style="width:100%;">
                <button (click)="merge()" style="max-width: 120px;" type="button" mat-raised-button
                    color="warn">getSku</button>

                <div fxFlex></div>
                <button fxLayoutAlign="end end" style="max-width: 120px;" [disabled]="!f.form.valid || !storeForm.valid"
                    type="submit" mat-raised-button color="accent">Submit</button>
            </div>
        </mat-card>
        -->
    </form>
</div>