.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }



  ::ng-deep .mat-tab-label {
    font-size: 2.4vw !important;
    font-weight: 700;
}


::ng-deep .mat-tab-label-active {
  color:green;
  background-color: rgba(10, 10, 240, .08);
  
  }

::ng-deep .mat-ink-bar {
  background-color: red;
}

.raised {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 4px 6px 0 rgba(0,0,0,0.19);
  border: 1px solid #005b9f;
  
}

img.testing {
  background-image:url('/assets/cigarette_placeholder.png');
  background-size:contain;
}