<form fxLayout="column" fxLayoutGap="20px" #f="ngForm" (ngSubmit)="OnSubmit(f)">
    <mat-card>

        <mat-card-content>
            <mat-card-title class="headingText" style="font-size: xx-large;">Site Information</mat-card-title>

            <div fxLayout="column" fxLayoutGap="8px">
                <mat-form-field style="max-width:50%">
                    <mat-label>Store Name</mat-label>
                    <input required ngModel name="storeName" matInput>
                </mat-form-field>


                <div fxLayout="row wrap" fxWrap fxLayoutGap="10px">
                    <mat-form-field style="max-width:50%">
                        <mat-select required ngModel name="chanelType">
                            <mat-option *ngFor='let chanelTypeArray of chanelTypeArray;' [value]=chanelTypeArray.name>
                                {{chanelTypeArray.name}}</mat-option>
                        </mat-select>
                        <mat-label>
                            <mat-icon>storefront</mat-icon> <i> Chanel Type</i>
                        </mat-label>
                    </mat-form-field>

                    <mat-form-field style="max-width:50%">
                        <mat-select required ngModel name="area">
                            <mat-option *ngFor='let areaArray of areaArray;' [value]=areaArray.name>
                                {{areaArray.name}}
                            </mat-option>
                        </mat-select>
                        <mat-label>
                            <mat-icon>public</mat-icon> <i> Area</i>
                        </mat-label>
                    </mat-form-field>
                </div>

                <!--
                <mat-form-field style="max-width:70%">
                    <mat-label> Address</mat-label>
                    <input ngModel name="storeAddress" matInput>
                </mat-form-field>
                -->

                <div fxLayout="row wrap" fxLayoutGap="10px">

                    <mat-form-field style="max-width:70%">
                        <mat-label> Contact Person</mat-label>
                        <input ngModel name="contactPerson" matInput>
                    </mat-form-field>






                </div>


                <div fxLayout="row wrap" fxLayoutGap="10px">

                    <div fxLayoutAlign="center center">Does store sell cigarettes?</div>
                    <mat-form-field style="max-width:50px">
                        <mat-select ngModel name="sell_cigarettes">
                            <mat-option value="Yes">
                                Yes
                            </mat-option>
                            <mat-option value="No">
                                No
                            </mat-option>
                        </mat-select>
                    </mat-form-field>





                </div>



                <div fxLayout="row" fxLayoutGap="30px">

                    <button fxLayoutAlign="center center" fxLayout="column" mat-fab type="button"
                        style="background-color: rgb(255, 243, 176);" (click)=getLocation()>


                        <div style="height:9px"></div>
                        <div style="width:100%;">
                            <img style="width:50%" src="../assets/compass.png" alt="GPS">
                        </div>

                    </button>

                    <b *ngIf="this.long != 0 " fxLayoutAlign="end end" [style.color]="accu > 30 ? 'red' : 'black' "
                        style="font-size:20px;height:30px;">Accuracy : {{this.accu | number:'.0-0'}} Meters</b>

                </div>


            </div>



        </mat-card-content>


    </mat-card>


    <!-- Store card info end -->







    <mat-card fxHide="{f.form.value.sell_cigarettes == 'Yes'}" style="background-color: beige;">

        <div>
            <mat-form-field appearance="fill">
                <mat-label fxLayoutGap="5px" class="headingText">
                    <mat-icon>search</mat-icon> <b>Product Filter</b>
                </mat-label>
                <input matInput [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
                <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear"
                    (click)="searchText=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>



        <mat-tab-group dynamicHeight>




            <mat-tab label="Packs">



                <div *ngFor="let cignames of cignames" [style.display]="cignames.brandName.toLowerCase().includes(searchText|lowercase) ||
                cignames.flavour.toLowerCase().includes(searchText|lowercase) ||
                cignames.size.toLowerCase().includes(searchText|lowercase) ||
                !searchText? 'block':'none' ">
                    <div style="height:15px"></div>
                    <mat-card class="box mat-elevation-z4">
                        <div fxLayout="column" style="width:100%">



                            <div fxLayout="row" fxFlex style="width:100%;">
                                <div fxLayout="row" fxFlex>
                                    <div fxLayout="column" fxLayoutGap="5px" style="width:100%">
                                        <div fxlayout="row" fxLayoutGap="10px">

                                            <b>{{cignames.brandName}}</b>

                                            <button class="raised" (click)="test.value=28"
                                                style="color: whitesmoke ; background-color:#37474f; border-radius: 12px;font-weight:bold;font-size: 12px;padding:4px 10px"
                                                type="button"> $28</button>
                                            <button class="raised" (click)="test.value=32"
                                                style="color: whitesmoke ; background-color:#37474f; border-radius: 12px;font-weight:bold;font-size: 12px;padding:4px 10px"
                                                type="button"> $32</button>
                                            <button class="raised" (click)="test.value=42"
                                                style="color: whitesmoke ; background-color:#008CBA; border-radius: 12px;font-weight:bold;font-size: 12px;padding:4px 10px"
                                                type="button"> $42</button>
                                            <button class="raised" (click)="test.value=52"
                                                style="color: whitesmoke ; background-color:#008CBA; border-radius: 12px;font-weight:bold;font-size: 12px;padding:4px 10px"
                                                type="button"> $52</button>

                                        </div>


                                        <div fxLayout="row" fxLayoutGap="5px" style="width:100%">
                                            <div style="width:45px;height:45px">
                                                <img style="height:100%" src={{cignames.picture}}>
                                            </div>

                                            <div style="width:20px"></div>
                                            <div fxLayoutGap="5px" fxLayout="row wrap" fxLayoutAlign="start center"
                                                style="width:100%">
                                                <b class="labeltext"> {{cignames.flavour}}
                                                </b>
                                                <div>
                                                    <b *ngIf="cignames.size !=='regular' " class="labeltext"> -
                                                        {{cignames.size}}</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div fxLayout="column">
                                    <mat-slide-toggle [checked]="test.value > 0 ? true : false " ngModel
                                        name="{{cignames.brandName}}_{{cignames.flavour}}_{{cignames.size}}">
                                    </mat-slide-toggle>
                                    <mat-form-field style="max-width: 50px;">
                                        <mat-label>Price $</mat-label>
                                        <input ngModel #test
                                            name="{{cignames.brandName}}_{{cignames.flavour}}_{{cignames.size}}_price"
                                            type="number" matInput>
                                    </mat-form-field>


                                </div>



                            </div>
                        </div>
                    </mat-card>

                </div>
            </mat-tab>


            <mat-tab label="Cartons">


                <div *ngFor="let cignames of cartonNames" [style.display]="cignames.brandName.toLowerCase().includes(searchText|lowercase) ||
                cignames.flavour.toLowerCase().includes(searchText|lowercase) ||
                cignames.size.toLowerCase().includes(searchText|lowercase) ||
                !searchText? 'block':'none' ">
                    <div style="height:15px"></div>
                    <mat-card style="overflow: hidden;" class="box mat-elevation-z4">
                        <div fxLayout="column" style="width:100%">



                            <div fxLayout="row" fxFlex fxLayoutGap="15px" style="width:100%;">
                                <div fxLayout="row" fxFlex>
                                    <div fxLayout="column" fxLayoutGap="5px" style="width:100%">
                                        <div fxlayout="row" fxLayoutGap="10px">


                                            <b style="margin-top:-15px">{{cignames.brandName}}</b>



                                            <button class="raised" (click)="test.value=28"
                                                style="color: #006db3 ; background-color:#ffbb93; border-radius: 12px;font-weight:bold;font-size: 12px;padding:4px 10px"
                                                type="button"> $28</button>
                                            <button class="raised" (click)="test.value=32"
                                                style="color: #00701a ; background-color:#ffff6b; border-radius: 12px;font-weight:bold;font-size: 12px;padding:4px 10px"
                                                type="button"> $32</button>
                                            <button class="raised" (click)="test.value=42"
                                                style="color: #5d4037 ; background-color:#bef67a; border-radius: 12px;font-weight:bold;font-size: 12px;padding:4px 10px"
                                                type="button"> $42</button>
                                            <button class="raised" (click)="test.value=52"
                                                style="color: whitesmoke ; background-color:#008CBA; border-radius: 12px;font-weight:bold;font-size: 12px;padding:4px 10px"
                                                type="button"> $52</button>

                                        </div>


                                        <div fxLayout="row" fxLayoutGap="5px" style="width:100%">
                                            <div fxLayoutAlign="center center" style="width:85px;height:55px">
                                                <img class=testing style="width:100%;max-height:50px ;"
                                                    src={{cignames.picture}}
                                                    onerror="this.onerror=null;this.src='/assets/cigarette_placeholder.png';">
                                            </div>

                                            <div style="width:15px"></div>


                                            <div fxLayoutGap="5px" fxLayout="row wrap" fxLayoutAlign="start center"
                                                style="width:100%">
                                                <b class="labeltext"> {{cignames.flavour}}
                                                </b>
                                                <div>
                                                    <b *ngIf="cignames.size !=='regular' " class="labeltext"> -
                                                        {{cignames.size}}</b>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div fxLayout="column">
                                    <mat-slide-toggle [checked]="test.value > 0 ? true : false " ngModel
                                        name="{{cignames.brandName}}_{{cignames.flavour}}_{{cignames.size}}">
                                    </mat-slide-toggle>
                                    <mat-form-field style="max-width: 50px;">
                                        <mat-label>Price $</mat-label>
                                        <input ngModel #test
                                            name="{{cignames.brandName}}_{{cignames.flavour}}_{{cignames.size}}_price"
                                            type="number" matInput>
                                    </mat-form-field>


                                </div>



                            </div>
                        </div>
                    </mat-card>

                </div>



            </mat-tab>


            <mat-tab label="Stock">



            </mat-tab>


        </mat-tab-group>


    </mat-card>


    <mat-card>
        <mat-card-title class="headingText" style="font-size: large;">Dispencer utilization</mat-card-title>
        <div fxLayoutGap="10px" fxLayout="row">
            <p fxFlex>Does the store have dispencers</p>
            <mat-slide-toggle #tag ngModel name="dispencersPresent">
            </mat-slide-toggle>
        </div>



        <div fxLayout="column" fxLayoutGap="10px" [ngStyle]="{display:tag.checked? 'block':'none'}">
            <div style="display:'none';border-style:groove;border-color: black;width:100%;height:25px">
                <div style="height:100%;width:10%; background-color:greenyellow"></div>
            </div>

            <div *ngFor="let dispencer of dispencersArray">



                <div fxLayout="row" fxLayoutGap="5px">
                    <div fxLayoutAlign="start center" style=" width: 100px;">
                        <div fxLayout="row" [ngStyle]="{'width':slideval.value+'%'}" style="background-color: #98e0f8;">
                            <b>{{dispencer.dispencerName}}</b>
                        </div>
                    </div>
                    <mat-slider #slideval style="width:50%" [max]="100" [min]="0" [thumbLabel]="true"
                        [tickInterval]="10" [step]="10" ngModel name="{{dispencer.dispencerName}}_share">
                    </mat-slider>
                    <div>{{f.form.value.Marlboro_share + f.form.value.Marlboro_share}}</div>
                </div>
            </div>






        </div>

    </mat-card>






    <mat-card [ngStyle]="{'background-color': f.form.valid ? 'white':'grey'}">
        <div fxLayout="row" fxLayoutAlign="end end">
            <button style=" border: 2px dashed red;" mat-raised-button color="primary" [disabled]="!f.form.valid"
                type="submit"> Submit </button>

        </div>
    </mat-card>


    <div style="height:35px"></div>

</form>