<div fxLayoutGap="15px" fxLayout="column" fxLayoutAlign="center center" style="background-color:red;width:100%;height:100%">


    <mat-card style="background-color: darkkhaki; width:80%">


        <button (click)="add_user()" type="button" mat-raised-button color="warn">Create new user</button>




    </mat-card>

    <mat-card>


        <input [(ngModel)]="fileInput" type="file" multiple (change)="changeListener($event.target.files)" accept=".csv">

    </mat-card>

    <mat-card>
        <div style="width:100%;">
            <button (click)="dataService.getSku();checkTest()" style="max-width: 120px;" type="button" mat-raised-button
                color="warn">getSku</button>


        </div>
    </mat-card>

    <!-- Test Block start-->
    <div *ngIf="checked == true">

        <mat-card>
            <p>{{findTest("1112")}}</p>

        </mat-card>


    </div>
    <!-- Test Block end-->




    <div style="background-color: darkgreen;width:80%;height:100%">
        <div fxlayoutGap="10px">
            <div style="color:white">Products</div>

            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" 
                *ngFor="let product of arrayTesty.data1">
                <mat-card style="width: 90%;">

                    <form #skuForm=ngForm (ngSubmit)="OnSubmit(skuForm)">
                        
                        

                        <div *ngFor="let item of productFields" fxLayout="column">

                            <div fxLayoutGap="5px" fxLayoutAlign="row">
                                <div>{{item.field}} :</div>
                                <input style="width: 50%;"  [(ngModel)]="product[item.field]" name="{{item.field}}" matInput>
                                
                            </div>
                           
                        </div>

                        <mat-slide-toggle #toggle [ngModel]="editable" [ngModelOptions]="{standalone: true}">Edit toggle
                        </mat-slide-toggle>
                        <button [disabled]="!toggle.checked" type="submit" mat-raised-button color="accent"> Update</button>
                    </form>
                </mat-card>
            </div>



        </div>
    </div>



</div>

